@{
    ViewBag.Title = "Grupo 1 CESDE";
}

<div class="jumbotron">
    <h1>CRUD GRUPO 1</h1>
    <p class="lead">Actualizar, crear y eliminar empleados, sedes y productos. Se creó el CRUD para la base de datos del mercado, en la cual se guardan las diferentes sedes, los empleados de todas las sedes y los productos de cada sede.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sede</h2>
        <p>
            Crear, leer, actualizar y eliminar las diferentes sedes del mercado. 
        </p>
        <p><a class="btn btn-default" href="~/sedes/Index">CRUD SEDE&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Empleado</h2>
        <p>Crear, leer, actualizar y eliminar los empleados que trabajan en las sedes del mercado.</p>
        <p><a class="btn btn-default" href="~/empleadoes/Index">CRUD EMPLEADO&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Producto</h2>
        <p>Crear, leer, actualizar y eliminar los productos que se ofrecen en cada una de las sedes del mercado.</p>
        <p><a class="btn btn-default" href="~/productoes/Index">CRUD PRODUCTO&raquo;</a></p>
    </div>
</div>